<app-card-content-page [cardTitle]="'Graficación de Elementos IFC'" [showHeader]="true" [showContent]="true"
    [cardClass]="'card-md'" [headerClass]="'card-header'" [blockClass]="'card-body'" [padding]="16">
    <form [formGroup]="form" class="show-model3d-form">
        <div class="row g-3 align-items-end">
            <div class="col-8 col-lg-9">
                <app-imput-select label="Archivos IFC disponibles" placeholder="Seleccione un archivo IFC"
                    [options]="tiposOptions()" formControlName="id_archivo_ifc" />
            </div>
            <div class="col-4 col-lg-3">
                <app-button type="primary" icon="area-chart" label="Generar Graficos" [block]="true"
                    (clicked)="procesar()" />
            </div>
        </div>
        <!--Inicio tabla en tabuladores-->
        @if (datosCategorias()) {
        <div class="row mt-3">
            <div class="col-12">
                <div class="tabs-container">
                    <nz-tabs nzType="card" nzSize="large">
                        <nz-tab nzTitle="Elementos por Categoría">
                            <app-input-table [title]="'Elementos por Categoria'" [data]="datosCategorias()"
                                [columns]="['Nombre', 'Tipo', 'Grupo', 'Cantidad']"
                                [values]="['nombre_elemento', 'tipo_elemento', 'tipo_agrupacion', 'cuantos']" />
                        </nz-tab>

                        @if (datosNiveles()) {
                        <nz-tab nzTitle="Elementos por Nivel">
                            <app-input-table-groupby [title]="'Elementos por Nivel'" [data]="datosNiveles()"
                                [columns]="['nombre', 'cantidad']" [values]="['nombre_elemento', 'cuantos']"
                                [groupby]="['nombre_nivel']" [pageSize]="10" [groupsCollapsedByDefault]="true" />
                        </nz-tab>
                        }

                        @if (datosCategorias()) {
                        <nz-tab nzTitle="Gráfico de Líneas">
                            <app-input-grafic-bar [title]="'Elementos por Categoria'" [data]="datosCategorias()"
                                [ejesXY]="['Elemento', 'Cantidad']" [values]="['nombre_elemento', 'cuantos']"
                                [resumen]="'Resumen por categoria'" [tipo]="'lineas'" />
                        </nz-tab>
                        }

                        @if (datosCategorias()) {
                        <nz-tab nzTitle="Gráfico Circular">
                            <app-input-grafic-circle [title]="'Elementos por Categoria'" [data]="datosCategorias()"
                                [ejesXY]="['Elemento', 'Cantidad']" [values]="['nombre_elemento', 'cuantos']"
                                [resumen]="'Resumen por categoria'" />
                        </nz-tab>
                        }
                    </nz-tabs>
                </div>
            </div>
        </div>
        }
        <!--Fin tabla en tabuladores-->
    </form>
</app-card-content-page>